
.bg__container {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
}

.bg__animated {
    position: absolute;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    z-index: 0;
    -webkit-animation: blob 7s infinite;
    animation: blob 7s infinite;
}

.bg__animated-rectangle--1 {
    z-index: 0;
    top: 1.25rem;
    left: -12rem;
    background-color: #7f1d1d;
    filter: blur(40px);
    opacity: .2;
}

.bg__animated-rectangle--2 {
    z-index: 0;
    top: 21rem;
    left: 25%;
    background: #0ea5e9;
    filter: blur(40px);
    opacity: .1;
}

.bg__animated-rectangle--3 {
    z-index: 0;
    top: 6rem;
    right: -12rem;
    background: #fde047;
    filter: blur(40px);
    opacity: .1;
}


@keyframes blob {
    0% {
        transform: translate(0) scale(1);
    }
    33% {
        transform: translate(30px,-50px) scale(1.1);
    }
    66% {
        transform: translate(-20px,20px) scale(.9);
    }
    100% {
        transform: translate(0,0) scale(1);
    }
}

@media (max-width: 900px) {
    .bg__container .bg__animated {
        width: 40rem;
        height: 40rem;
        z-index: 0;
    }
}
