.data__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.title {
    color: #fff;
    margin-bottom: 3rem;
}

.title__content {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.image {
    width: 100%;
    height: initial;
    overflow: hidden;
    border: 1px solid #373B62;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.image__content {
    width: 100%;
    height: initial;

}

.description {
    text-align: center;
    width: 100%;
    height: 8.5rem;
    overflow: auto;
}

.description__content {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    opacity: .7;
}

@media screen and (max-width: 1024px) {
    .title__content {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .description__content {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .title__content {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.5rem;
    }
    .description__content {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}


