.actions__player {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12rem;
    background: #373b62;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.player__button {
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background: linear-gradient(148.42deg,#ec1919 -.53%,#d1c234 28.02%,#d134a5 60.47%,#3734d1 90.32%,#23b632 124.06%);
    border-radius: 5px;
}

.pointer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

.pointer:hover {
    background-color: #FFFFFF;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}


.round {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    opacity: .7;
    cursor: pointer;
    transition: all .3s ease-out;
}

audio {
    width: auto;
    height: 54px;
}

.player-rightside {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;
}

.actions__player_right {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7rem;
    background: #373b62;
    padding: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 2rem;
}

.actions__player_right .player__button {
    width: 9rem;
    height: 9rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background: transparent;
    border-radius: 5px;
}

.actions__player_right .player-rightside {
    width: 100%;
}

.icon {
    transform: translate(5%,5%);
    position: relative;
    color: #373b62;
    width: 1.6rem;
    height: 1.6rem;
}

.player-time {
    display: flex;
    justify-content: space-between;
}

.player-time-current,
.player-time-total {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: .7;
}

.custom__range[type=range] {
    position: relative;
    width: 100%;
    height: 5px;
    font: 1em/1 arial,sans-serif;
    -webkit-appearance: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=range] {
    --background-size: 0;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]:hover::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    margin-top: -6px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #7E55B3, #A769C4), #494D77;
    background-size: var(--background-size, 0%) 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.player-time {
    display: flex;
    justify-content: space-between;
}

.player-time-total, .player-time-current {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: .7;
}


@media screen and (max-width: 768px) {
    .quiz__button {
        font-weight: 400;
        font-size: .8rem;
        line-height: .8rem;
        letter-spacing: .6px;
        width: 14rem;
        height: 5rem;
    }
    .quiz__button-arrow {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 0.4rem;
    }
}
